@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&family=Fredoka+One&family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
   
    /* letter-spacing: 1px; */
    /* color:#ffcb05 */
}
body{
    background: radial-gradient(ellipse at left, #c40dd4, transparent),
    radial-gradient(ellipse at right, #f7e70b, transparent);
    background-repeat: no-repeat;
    background-size: cover;

  }
  iconify-icon{
    font-size: 20px;
   
  
  }
.bg-light{
    background-color: transparent !important;
}
.navbar ul li a{
  
    color: #2b72b9;
    letter-spacing: 2px;
}
    
.navbar ul li a:hover{
     color: #5a5957;
}
.navbar-nav a{
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}
.bg-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}
.form-floating{
    position: relative;
}
label{
    color: rgb(187, 181, 181);
    letter-spacing: 2px;
}
.icon{
    position: absolute;
    top: calc(50%);
    left: 1.25rem;
}
.form-floating label, .form-floating .form-control{
    left: .5rem;
    padding-left: 3.5rem;
}
.icon-textarea {
    position: absolute;
    top: 1.8rem;
    left: 1rem;
}
.banner{
    background-color: #fff;
  }
  .banner-wrapper{
    display: flex;
    justify-content: center;
    flex-basis: 1400px;
  
    height: 100px;
    width: 45%;
  }
  .banner-wrapper img{
    flex-shrink: 1;
    height: 100px;
    width: 100%;
  }
  .navbar .nav-items ul{
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
   
   }
  
  main{ 
    min-height: 80vh;
    width: 70vw; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .feedback-img img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
    width: 100%;
    margin-top: 25px;  
    flex-shrink: 1;
}
  


@media only screen and (max-width: 767px){
  
}


 @font-face {
    font-family: 'Pokemon Hollow Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Hollow Normal'), url('Pokemon Hollow.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Pokemon Solid Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Pokemon Solid Normal'), url('Pokemon Solid.woff') format('woff');
    }
    @media screen and (max-width: 480px) {
        .nav-con{
          display: flex;
          padding: 0px;
         
        }
        .nav-items {
            padding: 0
        };
        .navbar-nav{
          margin-left: 0px !important
        }
        .nav-items ul{
           margin-left: 0px;
       
        }
        li:not(:last-child){
            margin-bottom: 0px;
            margin-right: 10px !important;
          
        }
        .nav-items ul li a{
            font-size: 14px;
        }
        
      }